<%- include('../partials/header'); -%>

<header class="jumbotron">
    <div class="container">
<h1><i class="fas fa-campground"></i>Welcome to YelpCamp</h1>
<p>View our hand-picked campgrounds from all over the world</p>
<a class="btn btn-primary"  href="/campgrounds/new" role="button">adding New campgrounds</a>
</div>
</header>
<div class="container ">
    <div class="row justify-content-md-center" style="display: flex; flex-wrap: wrap;">
        <% for (let i = 0; i < campgrounds.length; i++) {
            const element =campgrounds[i]; %>
            <div class="col-md-3 col-sm-7 border m-2">
                <figure class="figure">
                <img class="figure-img img-fluid rounded"  src="<%= element['image'] %>" alt="">
                <figcaption class="figure-caption"><h4><%= element['name'] %></h4></figcaption>
                </figure>
                <p>
                    <a class="btn btn-primary" style="margin: 0% 30%;"  href="/campgrounds/<%= element['_id'] %>"> Details</a>
                </p>
                
            </div>
        <% } %> 
    </div>
</div>
<%- include('../partials/footer'); -%>
